*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Outfit', sans-serif;
  background-color: hsl(212, 45%, 89%); /* Slate 300 */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
}
.container {
  background-color: hsl(0, 0%, 100%); /* White */
  border-radius: 15px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  max-width: 350px;
  width: 100%;
  overflow: hidden;
  padding: 1.5rem;
}
.container img {
  width: 100%;
  display: block;
  border-radius: 15px;
  margin-bottom: 1.5rem;
}
.content {
  text-align: center;
}
.content h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: hsl(218, 44%, 22%); /* Blue 900 */
  font-weight: 700;
}
.content p {
  font-size: 1rem;
  color: hsl(216, 15%, 48%);
  line-height: 1.5;
  font-weight: 400;
}

/* Tablet adjustments */
@media (min-width: 768px) {
  .container {
    max-width: 400px;  
    padding: 2rem;    
  }
  .content h1 {
    font-size: 1.75rem; 
  }
  .content p {
    font-size: 1.05rem; 
  }
}

/* Desktop adjustments */
@media (min-width: 1440px) {
  .container {
    max-width: 450px; 
    padding: 3rem;   
  }
  .content h1 {
    font-size: 2rem; 
  }
  .content p {
    font-size: 1.1rem;
  }
}

